@import "variables";
@import "~bulma/bulma.sass";

html, body {
  background: $body-bg;
}

.navbar-header-dark {
  background: $body-bg;
  color: $white;
  .navbar-item, .navbar-link {
    color: $white;
  }
}

.navbar-header-template {
  border-bottom: 1px solid $cyan;
}

.logo-image {
  width: fit-content;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: $white;
  color: #3490dc;
}

.input-search-dropdown {
  background: #1f2937;
}

@import "./dashboard.scss";
@import "./popular_gamse.scss";